body {
  font-family: Georgia, "Times New Roman", serif;
  background: #252323c2;
  color: #ececec;
  line-height: 1.6;
  margin: 0;
}

header {
  background: linear-gradient(135deg, #aa9fb1af, #cdcacea8);
  color: #0c0303;
  text-align: center;
  padding: 20px 20px 0;
  box-shadow: 0 4px 15px rgba(218, 218, 218, 0.253);
}

header h1 {
  font-size: 30px;
  letter-spacing: 3px;
  margin: 0 0 20px;
  text-transform: uppercase;
}

nav {
  background: rgba(0, 0, 0, 0.849);
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

nav a {
  color: #bebff3;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  transition: 0.3s ease;
  position: relative;
}

main > img {
  max-width: 500px;
  margin: 0 auto;
  padding: 60px 25px;
  display: block;
}

main video {
  display: block;
  width: 600px;
  margin: 20px auto;
}
main h2 {
  text-align: center;
}

#top3 {
  text-align: center;
}

#top3 h2 {
  font-size: 30px;
  color: #e1e1e1;
  margin-bottom: 35px;
}

#top3 ol {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.vinho {
  background: #413c3570;
  border: 1px solid #0c0b0a;
  border-radius: 1px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 1%;
}

.vinho img {
  width: 150px;
  height: 210px;
  object-fit: contain;
}

h4 {
  text-align: center;
}
